body .section-dois {
    height: 5rem;
    margin: 1rem;
    display: flex;
    background: linear-gradient(to right,#bc1d1d 0%,#bbb 25%,#312121 50%,#1770c8 75%,#312121 100%);
    align-items: center;
    justify-content: center;
}

body .section-dois {
    justify-content: space-around;
}

body .section-dois header nav ul {
    list-style: none;
    display: flex;

}

body .section-dois header nav ul li a {
    text-decoration: none;
    color: aliceblue;
    margin: 6rem;
    font-size: 2.5rem;
}

body .section-dois header nav ul li a:hover {
    color: chartreuse;
    font-size: 3rem;
}