body .section-dois {
    height: 5rem;
    display: flex;
    background-color: #4d1616;
    align-items: center;    
    justify-content: center;
}



body .section-dois header nav ul {
    list-style: none;
    display: flex;
    font-size: 2rem;
}

body .section-dois header nav ul li a {
    text-decoration: none;
    color: aliceblue;
    margin: 5rem;
}

body .section-dois header nav ul li a:hover {
    color: chartreuse;
    font-size: 3rem;
}