body .section-um {
    background-color: rgb(146, 0, 0);
    color: aliceblue;
}

body section header .div-1 {
    display: flex;
    justify-content: space-around;
}

body section header div .logo-image-um {
    border-radius: 50%;
    margin: 1.3rem;
    width: 20rem;
}

body section header div .titulo-logo-um {
    display: flex;
    align-items: center;
    font-size: 3rem;
}

body section header div .logo-titulo-um {
    border-radius: 50%;
    margin: 1.3rem;
    width: 20rem;
}




body section header div .rotulo-nome {
    display: flex;
    align-items: center;

}